/*---------------------------------   Import Fonts   ---------------------------------*/
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
/* DM Serif Text */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
/* Social Icons */
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css"); 

/*---------------------------------   Global Styles   ---------------------------------*/
html {
    box-sizing: border-box;
    background-color: #fcfcfc;
    font-size: 16px;
    scroll-behavior: smooth;
    /* image-rendering: -webkit-optimize-contrast; */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Open Sans', sans-serif;
    color: #161C1C;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
.page {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
.wrapper {
    padding: 4rem 0 2rem;
    background-color: #FCFCFC;
}
.wrapper-about {
    padding: 4rem 0 2rem;
    background-color: #FCFCFC;
}
h1 { font-size: 3.5rem; font-weight: 600; margin: 0; padding: 0;}
h2 { font-size: 2.5rem; font-weight: 600; margin: 0; padding:0;}
h3 { font-size: 1.25rem; font-weight: 600; margin: 2rem 0 0; padding: 0;}
ul, ol, li {margin: 0; padding: 0;}
a { color: #555555; text-decoration: none; border-bottom: 1px dashed gray; }
a:hover, i:hover {font-weight: 600;}       
strong {font-weight: 600;}


/*------------------------------------   Header   ------------------------------------*/
header a {
    border-bottom: none;
}
.selected {
    color: #16161C;
    font-weight: 600;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 99; 
    background-color: #FCFCFC;
    opacity: 0.96;
    border-bottom: 1px solid #e7e7e7;
}
#navbar-container { 
    display: flex;
    align-items: baseline;   
    font-size: 1rem;
    padding: 1rem 0;
}
header a {
    color: #404040;
}
header a:hover {
    color: #16161C;
}
#right-nav-container {
    margin-left: auto;
}
#top-nav-name {
    font-weight: 600;
    font-size: 1.25rem;
    margin-right: auto;
}
#top-nav-projects {
    margin: 0 1.75em;
}
/* ------------------------------------   Footer   ------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}
footer a {
    border-bottom: none;
}
footer h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
footer nav {
    margin-bottom: 1rem;
    font-size: 2rem;
}
footer nav a {
    margin: 1rem; 
}
#resumebutton {
    padding: 5px 10px;
    border: 3px solid #555555;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}
#copyright {
    font-size: 0.75rem;
    color: #555555;
}

/*------------------------------------   Home   ------------------------------------*/

/*--- Profile ---*/
#profile {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    column-gap: 3rem;
    width: 90%;
    margin: 9rem auto 3rem;
}
#photo {
    /* /* display: block; */
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    margin-left: auto;
    border-radius: 50%; 
    /* width: 50%; */
    /* order: -1; */
    /* margin: 0 auto 2rem; */
}

#profile h1 {
    font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: 700;
    margin-top: auto;
}
#profile p {
    line-height: 2rem;
}
#profile p strong {
    font-weight: 600;
}
/*--- Projects ---*/
#projects {
    display: flex;
    flex-direction: column;
}
#projects h2 {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: lighter;
    color: #555555;
    line-height: 0;
    margin: 2rem 0 0.5rem;
}
#projects a {
    border-bottom: none;
}
#projects a:hover {
    font-weight: normal;
}

#featured {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 30rem;
    column-gap: 5rem;
    margin-bottom: 5rem;
}
#archived {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-auto-rows: 30rem;
    column-gap: 1rem;
}
.case-study {
    height: 28rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(129, 95, 95, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.archived-case-study {
    height: 23rem;
}

.case-study img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 16px 16px 0px 0px; 
}
.case-study-title {
    display: flex;
    justify-content: space-between;
}
.case-study-text {
    width: 85%;
    align-self: center;
    margin-top: 1rem;
}
.case-study-text h3 {
    display: inline;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0;
}
.case-study-description {
    font-size: 1rem;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.case-study-tag {
    font-size: 0.9rem;
    font-weight: lighter;
    color: #000;
    margin: 0.5rem 0 0;
    border-radius: 7px;
    background-color: #e7e7e770;
    padding: 0.25rem 0.25rem;
    flex-basis: 47%;
    text-align: center;
}

/* ------------------------------------   About   ------------------------------------*/

/*--- About Me ---*/
#about-me {
    display: grid;
    grid-template-columns: 5fr 4fr; 
    column-gap: 4rem;
    margin-top: 4rem;
}
#about-photo {
    width: 95%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 16px;
}
/*--- My Background ---*/
#my-background h2 {
    text-align: center;
}
.timeline {
    margin: 3rem 0;
}
.timeline p {
    font-size: 0.875rem;
}
.timeline h3 {
    font-size: 1.125rem;
    margin: 0;
}
.date {
    font-weight: lighter;
    font-style: italic;
    color: #555555;
    line-height: 1rem;
}
.background-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem 0 1rem;
}
.background-container img {
   margin: auto auto;
}
.background-container {         
    grid-template-columns: 1fr; /* Make logo center of the container*/
}
/* Vertical ruler */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #555555;
    top: 8%;           /* Change this to adjust the height of the line */
    bottom: 0%;         /* Change this to adjust the height of the line */
    left: 50%;
    margin-left: 2px;
    z-index: 0;
}
/* Container around content */
.timeline-container {
    padding: 1rem 1.5rem;
    position: relative;
    width: 45%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    right: -62px;
    background-color: white;
    border: 4px solid #555555;
    top: 1rem;
    border-radius: 50%;
}
/* Place the container to the left */
.timeline-left {
    left: 0;
}
/* Place the container to the right */
.timeline-right {
    left: 55%;
}
/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -13%;
}

/*------------------------------------   Case Studies   ------------------------------------*/
.case-study-page {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
.case-study-page li {
    margin: 0.5rem 0 0 2rem;
}
.case-study-page img {
    display: block;
    margin: 1rem auto 1rem;
    padding: 1rem 0 0;
}
.case-study-page ol img {
    max-width: 85%;
    max-height: 25rem;
    width: auto;
    align-self: center;
    /* margin: 2rem auto; */
}
.notes {
    font-size: 0.925rem;
    color: #555555;
    font-style: italic;
    margin: 1rem 0;
}

/* Quotes */
.quote-single, .quote-double {
    color: #555555;
    font-weight: 500;
    margin: 1rem auto 2rem;
}
.quote-single {
    width: 90%;
}
.quote-double {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 4rem;
}
.person {
    font-style: italic;
    font-weight: 400;
}

/* --- Hero --- */
.hero-background {
    padding: 5rem 0 0;
}
.hero {
    display: grid;
    grid-template-columns: 3fr 2fr; 
    column-gap: 3rem;
}
.hero-image {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    margin: 5rem 0 0;
}
.title {
    margin: 4rem 0;
}
.title h1 {
    font-size: 2.75rem;
}
.hero-background:after {        /* Solid line */
    display: block;
    content: "";
    border-top: 2px solid #161C1C;
    width: 3rem;
    margin: 0 auto;
}
.project-details {
    display: grid;
    grid-template-columns: 3fr 4fr 5fr; 
    grid-template-rows: 4.5rem 4.5rem;
    grid-auto-flow: column;
    column-gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}
.project-details h3 {
    font-size: 1rem;
    margin: 1rem 0 0;
    font-weight: 600;
}
.project-details p {
    font-size: 0.925rem;
    margin: 0.25rem 0;
}

/* --- Summary --- */
.summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 4rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0 3rem;
}
.summary h3 {
    margin: 0;
    padding: 0.5rem 0 0; 
}
.summary p {
    margin: 0.5rem 0 1rem;
}
/* --- Side Navigation --- */
.sidenav {
    display: none;
    position: fixed; 
    z-index: 1; 
    overflow-x: hidden; /* Disable horizontal scroll */
    width: 200px;
    top: 6rem; 
    left: 1rem;
    font-size: 0.875rem;
}
.sidenav a {
    display: block;
    padding: 8px 10px;
    font-weight: 300;
    border-bottom: none;
    border-left: 2px solid transparent;
    color: #555555;
}
.sidenav a:hover {
    font-weight: 600;
}
.sidenav .active {
    font-weight: 600;
    border-left: 2px solid #555555;
} 

/* --- Other Projects --- */
.other-projects {
    border-top: solid 2px #555555;
}
.other-projects h2 {
    text-align: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 0;
    margin: 2rem 0 0;
    color: #555555;
}
.other-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 2rem;
    margin: 3rem 0 0;
}
.other-projects a {
    border-bottom: none;
    font-weight: normal;
}
.other-projects img {
    display: block;
    width: 95%;
}
.other-projects p {
    text-transform: uppercase;
}
.next-project-image {
    margin-left: auto;
}   
.next-project-text {
    text-align: right;
}
.other-projects a:hover img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.other-projects a:hover p {
    font-weight: 600;
}
/* ----- Dunnhumby --- */
#dh-overview, #dh-summary {
    background-image: linear-gradient(90deg, #D5CEE6 0%, #5D54ABd0 100%);
}
/* ----- UCL Report & Support --- */
#rns-overview, #rns-summary {
    background-image: linear-gradient(90deg, #FFE8B9 0%, #F3982Ed0 100%);
}
/* ----- Everyday Vegan Grocer --- */
#evg-overview, #evg-summary {
    background-image: linear-gradient(90deg, #D6EDD4 0%, #70BA77d0 100%);
}
/* ----- CuriousCore --- */
#cc-overview, #cc-summary {
    background-image: linear-gradient(90deg, #C7D5F0 0%, #5073B8d0 100%);
}

/* ------------------------------------   Animations ------------------------------------*/

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    opacity: 0.7;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
.hamburger:hover {
        opacity: 1; }
.hamburger.is-active:hover {
        opacity: 1; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
        background-color: #000; }
.hamburger-box {
    width: 15px;
    height: 18px;
    display: inline-block;
    position: relative;}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }

/* Hamburger Slider Animation*/
.hamburger--slider .hamburger-inner {
    top: 2px; }
    .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.2s; }
    .hamburger--slider .hamburger-inner::after {
    top: 20px; }
.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
    .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/* Underline links */
a.left-hover {
    position: relative;
}
a.left-hover:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #555555;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.left-hover:hover:before {
    visibility: visible;
    width: 100%;
}

/* Expandable/Collapsable Card */
.card-text {
    display: none;
}
.collapsed {
    height: 22rem;
}
.expanded {
    height: 37rem;
}
.expanded > i {
    transform: rotate(180deg);
}

/* Card lifts on hover */
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -0.75rem, 0px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
/* Bouncing Arrow */
.collapsed:hover > i {
    -webkit-animation: bounce 1.5s;
    animation: bounce 1.5s;
    animation-delay: 0.3s;
}
@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
    }
}
@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}
}








/* ------------------------------------   Responsive (default - 900px)   ------------------------------------*/

/*-------------------- For Tablets - 700px -------------------- */
@media screen and (max-width:990px) {
    .page {
        max-width: 700px;
    }
    h1 {
        font-size: 2.5rem;
    }
    /* h2 {
        font-size: 2rem;
    } */

    /* ----- Home ----- */
    #profile {
        width: 100%;
    }
    .case-study {
        height: 25rem;
    }
    .case-study-text h3 {
        font-size: 1.4rem;
    }
    #featured {
        margin-bottom: 2rem;
    }
    .archived-case-study {
        height: 22rem;
    }
    #archived h3 {
        font-size: 1.1rem;
    }
    #archived p {
        font-size: 0.9rem;
    }



    /* ----- About ----- */
    /* My Background - Vertical ruler */
    .timeline::after {
        top: 7%;            /* Change this to adjust the height of the line */
        bottom: 0%;         /* Change this to adjust the height of the line */
    }
    /* My Background - The circles on the timeline */
    .timeline-container::after {
        right: -52px;
    }
    /* My Background - Fix the circle for containers on the right side */
    .timeline-right::after {
        left: -13.5%;
    }   
    /* My Background - UCLIC image */
    #uclic {
        height: 40px;
    }

    /* ---- Case Studies --- */
    .sidenav {
        visibility: hidden;
    }
}

/*-------------------- For Small Windows - 500px -------------------- */

@media screen and (max-width:750px) {
    .page {
        max-width: 500px;
    }
    /* ----- Home ----- */

    /* Profile */
    #profile {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 6rem 0 1rem;
    }
    #description, #profile {
        font-size: 1rem;
    }
    #photo {
        width: 200px;
        margin: 0 auto;
    }
    #profile h1 {
        margin: 1rem 0 0;
    }
    #profile p {
        font-size: 1rem;
    }
    /* Projects */
    #featured {
        display: flex;
        flex-direction: column;
    }

    .case-study {
        height: 32rem;
    }
    .case-study-text h2 {
        font-size: 1.5rem;
    }
    #archived {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 27rem;
    }
    .archived-case-study {
        height: 24rem;
    }
    /* ----- About ----- */
    /* Hi I'm Jingxiu */
    #about-me {
        display: flex;
        flex-direction: column;
    }
    #about-photo {
        width: 70%;
        order: -1;
        margin: 0 auto 2rem;
    }
    #about-me-text {
        text-align: center;
    }
    /* My Background - Vertical ruler */
    .timeline::after {
        top: 8%;
        bottom: 0%;
        left: 90%;
    }
    /*  My Background - Container around content */
    .timeline-container {
        width: 85%;
    }
    /*  My Background - The circles on the timeline */
    .timeline-container::after {
        right: -42px;
    }
    /*  My Background - Place the container to the right -> place to left instead */
    .timeline-right {
        left: 0;
        /* right: -62px; */
    }
    /*  My Background - Fix the circle for containers on the right side */
    .timeline-right::after {
        left: 104%;
    }
    /* My Background - UCLIC image */
    #uclic {
        height: 50px;
    }
    
    /* ---- Case Studies --- */
    .case-study-page {
        max-width: 500px;
    }
    .hero {
        display: flex;
        flex-direction: column;
    }
    .title {
        order: 2;
        text-align: center;
    }
    .hero-image {
        order: 1;
        width: 70%;
        align-self: center;
    }
    .project-details {
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .summary {
        display: flex;
        flex-direction: column;
    }
    .summary h3 {
        padding: 1rem 0 0; 
    }
    .quote-double {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .figma-prototype {
        width: 500px;
    }
}   

/*-------------------- For Mobile - 300px -------------------- */

@media screen and (max-width:550px) {
    .page {
        max-width: 300px;
    }
    html {
        font-size: 14px;
    }
    /* ----- Home ----- */
    /* Profile */
    #profile h1 {
        font-size: 2.5rem;
    }
    .case-study {
        height: 26rem;
    }
    #archived {
        grid-auto-rows: 25rem;
    }
    .archived-case-study {
        height: 22rem;
    }
    .archived
    /* ----- About ----- */
    #about-photo {
        width: 100%;
    }
    .timeline p {
        font-size: 1rem;
    }
    /* My Background - Vertical ruler */
    .timeline::after {
        top: 9%;
        bottom: 0%;
    }
    .timeline-container {
        padding: 1rem 1.2rem;
    }
    /* My Background - The circles on the timeline */
    .timeline-container::after {
        right: -32px;
    }
    /* My Background - Fix the circle for containers on the right side */
    .timeline-right::after {
        left: 103%;
    }
    /* ----- Hamburger Menu - Header Nav ----- */
    #navbar-container { 
        flex-direction: column;
    }
    #left-nav-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: baseline;
    }
    /* Show Hamburger Menu */
    .hamburger {     
        display: block;
        margin-left: auto;
    }
    /* Show Right Navigation below instead of at the right */
    #right-nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #right-nav-container a {
        margin: 2rem 0 0 auto;
        font-size: 1.125rem;
    }
    .hide {
        display: none;
    }
    /* ---- Case Study Page ---- */
    .case-study-page {
        max-width: 300px;
    }
    .hero-image {
        margin: 3rem 0 0;
    }
    .title {
        margin: 2rem 0;
    }
    .project-details {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 3fr 4fr 4fr;
        grid-auto-flow: row;
        column-gap: 0rem;
        row-gap: 1rem;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .quote-double {
        width: 90%;
    }
    .other-projects-grid {
        display: flex;
        flex-direction: column;
    }
    .other-projects-title, .previous-project {
        display: none;
    }
    .next-project-image {
        margin: auto;
    }   
    .next-project-text {
        text-align: center;
    }
    .figma-prototype {
        width: 300px;
    }
}

