/*---------------------------------   Import Fonts   ---------------------------------*/
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
/* Social Icons */
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css"); 

/*---------------------------------   Global Styles   ---------------------------------*/
html {
    box-sizing: border-box;
    background-color: #FCFAFA;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Open Sans', sans-serif;
    color: #161C1C;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
.page {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
.wrapper-odd {
    padding: 4rem 0;
    background-color: #FCFAFA;
}
.wrapper-even {
    padding: 4rem 0;
    background-color: #f0f0f0;
}
h1 { font-size: 3.5rem; font-weight: 600; margin: 0; padding: 0;}
h2 { font-size: 2.125rem; font-weight: 600; margin: 0; padding:0;}
h3 { font-size: 1.25rem; font-weight: 600; margin: 2rem 0 0; padding: 0;}
ul, li {margin: 0; padding: 0;}
a { color: #555555; text-decoration: none; border-bottom: 1px dashed gray; }
a:hover, i:hover {font-weight: 600;}       
strong {font-weight: 700;}


/*------------------------------------   Header   ------------------------------------*/
header a {
    border-bottom: none;
}
.selected {
    font-weight: 600;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 99; 
    background-color:rgba(252, 250, 250, 0.96);
    border-bottom: 1px solid #e7e7e7;
}
#navbar-container { 
    display: flex;
    align-items: baseline;   
    font-size: 1rem;
    padding: 0.5rem 0;
}
header a {
    color: #383838;
}
#right-nav-container {
    margin-left: auto;
}
#top-nav-name {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    margin-right: auto;
}
#top-nav-projects {
    margin: 0 1.75em;
}
/* ------------------------------------   Footer   ------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}
footer a {
    border-bottom: none;
}
footer h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
footer nav {
    margin-bottom: 1rem;
    font-size: 2rem;
}
footer nav a {
    margin: 1rem; 
}
#resumebutton {
    padding: 5px 10px;
    border: 3px solid #555555;
    border-radius: 10px;
    margin-bottom: 1rem;
}
#copyright {
    font-size: 0.75rem;
    color: #555555;
}

/*------------------------------------   Home   ------------------------------------*/

/*--- Profile ---*/
#profile {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    width: 90%;
    margin: 8rem auto 3rem;
}
#photo {
    display: block;
    grid-column: 1/2;
    grid-row: 1/4;
    width: 80%;
    height: auto;
    align-self: center;
    border: 4px solid #161C1C;
    border-radius: 50%;
}
#profile h1 {
    font-size: 5rem;
    font-style: italic;
    font-weight: normal;
}
#description {
    color: #383838;
    margin: 0.5rem 0;
}

/*--- Projects ---*/
#projects {
    display: flex;
    flex-direction: column;
}
#projects h1 {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: lighter;
    color: #555555;
    margin: 2rem 0 0;
}
#projects a {
    border-bottom: none;
}
#projects a:hover {
    font-weight: normal;
}
#featured {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 30rem;
    column-gap: 5rem;
}
.case-study {
    height: 25.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(129, 95, 95, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.case-study img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 16px 16px 0px 0px; 
}
.case-study-title {
    display: flex;
    justify-content: space-between;
}
.case-study-text {
    width: 85%;
    align-self: center;
    margin-top: 1rem;
}
.case-study-text h2 {
    display: inline;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-right: auto;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.case-study-tag {
    font-size: 0.75rem;
    font-weight: lighter;
    color: #000;
    margin: 0.5rem 0 0;
    border-radius: 7px;
    background-color: #e7e7e770;
    padding: 0.25rem 0.25rem;
    flex-basis: 47%;
    text-align: center;
}

/* ------------------------------------   About   ------------------------------------*/

/*--- Meet Jingxiu ---*/
#meet-jingxiu {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    column-gap: 3rem;
    margin-top: 6rem;
}
#ucl-photo {
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 50%;
}

/*--- UX Journey ---*/
#ux-journey h2 {
    text-align: center;
}
.timeline {
    margin: 3rem 0;
}
.timeline p {
    font-size: 0.875rem;
}
.timeline h3 {
    font-size: 1.125rem;
    margin: 0;
}
.date {
    font-weight: lighter;
    font-style: italic;
    color: #555555;
    line-height: 1rem;
}
/* Vertical ruler */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #555555;
    top: 7%;
    bottom: 6%;
    left: 50%;
    margin-left: 2px;
    z-index: 0;
}
/* Container around content */
.timeline-container {
    padding: 1rem 1.5rem;
    position: relative;
    width: 45%;
    background-color: #FCFAFA;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    right: -62px;
    background-color: white;
    border: 4px solid #555555;
    top: 1rem;
    border-radius: 50%;
}
/* Place the container to the left */
.timeline-left {
    left: 0;
}
/* Place the container to the right */
.timeline-right {
    left: 55%;
}
/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -13%;
}

#view-linkedin {
    text-align: center;
}
#opportunities {
    text-align: center;
    font-style: italic;
    font-size: 0.875rem;
}

/*--- My Interests ---*/
#my-interests {
    padding-bottom: 0;
}
#interests-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 1.5rem;
}
.interest-card {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.interest-card img {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
}
.interest-card h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 2rem;
}
.interest-card i {
    align-self: center;
    color:grey;
    margin-top: auto;
    margin-bottom: 1rem;
}
.interest-card p {
    text-align: start;
    font-size: 0.875rem;
    margin: 0 1rem 1rem;
}


/*------------------------------------   Case Studies   ------------------------------------*/
.case-study-page {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
figure {
    width: 100%;
    margin: 1rem auto 4rem;
}
.image-double {
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 3rem;
    padding: 1rem 3rem;
    position: relative;
    z-index: 2;
}
.image-double figure {
    width: 100%;
    margin: 2rem auto;
}
.image-single {
    background-color: inherit;
    padding: 1rem 3rem 0;
    position: relative;
    z-index: 2;
}
.image-single figure {
    width: 90%;
}

figcaption {
    font-size: 0.875rem;
    color: #555555;
}
.notes {
    font-size: 0.875rem;
    color: #555555;
    font-style: italic;
}

/* Quotes */
.quote-single, .quote-double {
    color: #555555;
    font-weight: 300;
    font-size: 0.925rem;
    margin: 1rem auto 2rem;
}
.quote-single {
    width: 60%;
}
.quote-double {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 4rem;
}
.person {
    font-style: italic;
}

/* --- Hero Image --- */
.hero {
    margin-top: 4rem;
    height: 400px;
    color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    padding-top: 7rem;
}
.small-title {
    display: none;
}
.title h1, .title p {
    width: 45%;
}
/* --- Summary --- */
.summary-background {
    background-color: #d3d3d444;
}
.summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 4rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}
.summary h2 {
    font-size: 2rem;
}
.summary h3 {
    font-size: 1rem;
    margin-top: 1rem;
}
.detail {
    margin: 0;
}
.skills-list {
    margin-top: 1rem;
}
.summary ul {
    list-style-type: none;
}
.summary li {
    margin: 0.5rem 0;
}

/* --- Side Navigation --- */
.sidenav {
    display: none;
    position: fixed; 
    z-index: 1; 
    overflow-x: hidden; /* Disable horizontal scroll */
    width: 200px;
    top: 6rem; 
    left: 1rem;
    font-size: 0.875rem;
}
.sidenav a {
    display: block;
    padding: 8px 10px;
    font-weight: 300;
    border-bottom: none;
    border-left: 2px solid transparent;
    color: #555555;
}
.sidenav a:hover {
    font-weight: 600;
}
.sidenav .active {
    font-weight: 600;
    border-left: 2px solid #555555;
} 
/* ----- Everyday Vegan Grocer --- */
#evg-hero {
    background-image: url("../images/evg/evg-hero.jpg");
}
.evg-title {
    padding-top: 4rem;
}
.evg-colour {
    background-color: rgb(230, 255, 240);
}
#affinitymap {
    margin-bottom: 2rem;
}
.prototype-preference {
    margin-left: 2rem;
}

/* ------ CuriousCore ---- */
#curiouscore-hero {
    background-image: url("../images/curiouscore/curiouscore-hero.jpg");
}
.curiouscore-colour {
    background-color:rgb(225, 240, 255)
}
#curiouscore-surveys {
    padding: 0;
}

/* ------------------------------------   Animations ------------------------------------*/

/* Hamburger Menu */
.hamburger {
    padding: 15px 15px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    opacity: 0.7;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
.hamburger:hover {
        opacity: 1; }
.hamburger.is-active:hover {
        opacity: 1; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
        background-color: #000; }
.hamburger-box {
    width: 15px;
    height: 18px;
    display: inline-block;
    position: relative;}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }

/* Hamburger Slider Animation*/
.hamburger--slider .hamburger-inner {
    top: 2px; }
    .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.2s; }
    .hamburger--slider .hamburger-inner::after {
    top: 20px; }
.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
    .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/* Underline links */
a.left-hover {
    position: relative;
}
a.left-hover:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #555555;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.left-hover:hover:before {
    visibility: visible;
    width: 100%;
}

/* Expandable/Collapsable Card */
.card-text {
    display: none;
}
.collapsed {
    height: 22rem;
}
.expanded {
    height: 37rem;
}
.expanded > i {
    transform: rotate(180deg);
}

/* Card lifts on hover */
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -0.75rem, 0px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
/* Bouncing Arrow */
.collapsed:hover > i {
    -webkit-animation: bounce 1.5s;
    animation: bounce 1.5s;
    animation-delay: 0.3s;
}
@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
    }
}
@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}
}








/* ------------------------------------   Responsive (default - 900px)   ------------------------------------*/

/*-------------------- For Tablets - 700px -------------------- */
@media screen and (max-width:990px) {
    .page {
        max-width: 700px;
    }
    html {
        font-size: 16px;
    }
    /* ----- Home ----- */
    #profile {
        width: 100%;
    }
    #profile h1 {
        font-size: 4.5rem;
    }
    #photo {
        width: 90%;
    }
    #description, #profile {
        font-size: 0.9375rem;
    }
    .case-study {
        height: 23rem;
    }
    .case-study-text h2 {
        font-size: 1.25rem;
    }
    /* ----- About ----- */
    /* UX Journey - Vertical ruler */
    .timeline::after {
        top: 5%;
        bottom: 6.5%;
    }
    /* UX Journey - The circles on the timeline */
    .timeline-container::after {
        right: -52px;
    }
    /* Fix the circle for containers on the right side */
    .timeline-right::after {
        left: -13.5%;
    }   
    /* My Interests - Expandable/Collapsable Card */
    .expanded {
        height: 38rem;
    }
    .collapsed {
        height: 18rem;
    }
    /* ---- Case Studies --- */
    .summary h2 {
        font-size: 1.5rem;
    }
    .sidenav {
        visibility: hidden;
    }
    h1 {
        font-size: 3rem;
    }
}

/*-------------------- For Small Windows - 500px -------------------- */

@media screen and (max-width:750px) {
    .page {
        max-width: 500px;
    }
    html {
        font-size: 16px;
    }
    /* ----- Home ----- */
    /* Profile */
    #profile {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #description, #profile {
        font-size: 1rem;
    }
    #photo {
        width: 50%;
    }
    #profile h1 {
        font-size: 4.5rem;
        margin: 2rem 0 0;
    }
    #links {
        font-size: 1rem;
    }
    /* Projects */
    #featured {
        display: flex;
        flex-direction: column;
    }
    .case-study {
        height: 29rem;
    }
    .case-study-text h2 {
        font-size: 1.5rem;
    }
    #featured {
        margin-bottom: 0rem;
    }
    /* ----- About ----- */
    /* Meet Jingxiu */
    #meet-jingxiu {
        display: flex;
        flex-direction: column;
    }
    #ucl-photo {
        width: 50%;
        order: -1;
        margin: 0 auto 2rem;
    }
    #about-me-text {
        text-align: center;
    }
    /* UX Journey */

    /* Vertical ruler */
    .timeline::after {
        top: 6%;
        bottom: 8%;
        left: 90%;
    }
    /* Container around content */
    .timeline-container {
        width: 85%;
    }

    /* The circles on the timeline */
    .timeline-container::after {
        right: -42px;
    }
    /* Place the container to the right -> place to left instead */
    .timeline-right {
        left: 0;
        /* right: -62px; */
    }
    /* Fix the circle for containers on the right side */
    .timeline-right::after {
        left: 104%;
    }

    /* My Interests */
    #my-interests {
        padding-bottom: 0;
    }
    #interests-grid {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .interest-card {
        width: 60%;
        margin: 2rem auto;
    }
    /* Animation - Expandable/Collapsable Card */
    .expanded {
        height: 37rem;
    }
    .collapsed {
        height: 22rem;
    }

    /* ---- Case Studies --- */
    .title h1, .title p {
        display: none;
    }
    .small-title {
        display: block;
        background-color: #d3d3d344;
        padding-top: 2rem;
    }
    .small-title h1 {
        font-size: 2.5rem;
    }
    .small-title p {
        margin-bottom: 0;
    }
    #evg-hero {
        background-image: url("../images/evg/evg-thumbnail.jpg");
    }
    #curiouscore-hero {
        background-image: url("../images/curiouscore/curiouscore-thumbnail.jpg");
    }
    .summary {
        display: flex;
        flex-direction: column;
    }
    .summary > div {
        margin: 1rem 0;
    }
    .case-study-page {
        max-width: 500px;
    }
    h2 {
        font-size: 1.75rem;
    }
    .image-double {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem;
    }
}   

/*-------------------- For Mobile - 300px -------------------- */

@media screen and (max-width:550px) {
    .page {
        max-width: 300px;
        overflow: hidden;
    }
    html {
        font-size: 16px;
    }
    /* ----- Home ----- */
    /* Profile */
    #photo {
        width: 80%;
    }
    #profile h1 {
        font-size: 3rem;
    }
    .case-study {
        height: 22.5rem;
    }
    .case-study-text h2 {
        font-size: 1.25rem;
    }
    /* ----- About ----- */
    #ucl-photo {
        width: 80%;
    }
    /* UX Journey */
    /* Vertical ruler */
    .timeline::after {
        top: 4%;
        bottom: 7%;
    }
    .timeline-container {
        padding: 1rem 1.2rem;
    }
    /* The circles on the timeline */
    .timeline-container::after {
        right: -32px;
    }
    /* Fix the circle for containers on the right side */
    .timeline-right::after {
        left: 103%;
    }
    /* My Interests */
    .interest-card {
        width: 80%;
    }
    .expanded {
        height: 37rem;
    }
    .collapsed {
        height: 19rem;
    }
    /* ----- Hamburger Menu - Header Nav ----- */
    #navbar-container { 
        flex-direction: column;
    }
    #left-nav-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: baseline;
    }
    /* Show Hamburger Menu */
    .hamburger {     
        display: block;
        margin-left: auto;
    }
    /* Show Right Navigation below instead of at the right */
    #right-nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #right-nav-container a {
        margin: 2rem 0 1rem auto;
        font-size: 1.125rem;
    }
    .hide {
        display: none;
    }
    /* ---- Case Study Page ---- */
    .case-study-page {
        max-width: 300px;
    }
    .hero {
        height: 300px;
    }
    h2 {
        font-size: 1.5rem;
    } 
    h3 {
        font-size: 1.125rem;
    }
    .quote-single {
        width: 80%;
    }
    .quote-double {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

